@font-face {
  font-family: "Ubuntu-Bold";
  font-display: swap;
  src: url("../fonts/Ubuntu-Bold.woff") format("woff"), url("../fonts/Ubuntu-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Ubuntu-Regular";
  font-display: swap;
  src: url("../fonts/Ubuntu-Regular.woff") format("woff"), url("../fonts/Ubuntu-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.btn {
  min-width: 170px;
  height: 48px;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#F8BD7A), to(#AB6E36));
  background: -o-linear-gradient(top, #F8BD7A 0%, #AB6E36 100%);
  background: linear-gradient(180deg, #F8BD7A 0%, #AB6E36 100%);
  text-transform: uppercase;
  border: 1px solid #F8BD7A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  color: #fff;
  font-family: "Ubuntu-Bold";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.105em;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  position: absolute;
  display: block;
  left: calc(48% - 142px/2);
  outline: none;
}

.btn.modalBtn {
  position: unset;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #D0935A;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background: rgba(255, 255, 255, 0.8);
}

.header__inner {
  min-height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__inner .logo__link-img {
  height: 44px;
}

.header__inner .nav {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__inner .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  left: calc(25% - 170px/2);
}

.header__inner .nav-item {
  padding: 5px 15px;
  list-style: none;
}

.header__inner .nav-link {
  text-decoration: none;
  font-family: Ubuntu-Bold;
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #3D3D3D;
  padding-bottom: 5px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.header__inner .nav-link:hover {
  color: #5FB5BF;
  border-bottom: 2px solid #5FB5BF;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

.header__inner .menu {
  background: transparent;
  width: 38px;
  height: 28px;
  position: absolute;
  right: 0;
  z-index: 10;
}

.header__inner .menu__button {
  border: none;
  outline: none;
  width: 38px;
  height: 4px;
  background: #5FB5BF;
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
}

.header__inner .menu__button::after,
.header__inner .menu__button::before {
  content: "";
  height: 4px;
  background: #5FB5BF;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  display: block;
}

.header__inner .menu__button::before {
  margin-top: 11px;
}

.header__inner .menu__button::after {
  margin-top: 7px;
}

.header__inner .menu__button.active {
  background: transparent;
}

.header__inner .menu__button.active::after {
  -webkit-transform: translateY(-11px) rotate(45deg);
      -ms-transform: translateY(-11px) rotate(45deg);
          transform: translateY(-11px) rotate(45deg);
}

.header__inner .menu__button.active::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .phone {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  position: absolute;
}

.header .phone p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #595959;
}

.webp .head {
  background-image: url(../img/BANER.webp); 
}

.head {
  background-image: url(../img/BANER.jpg); 
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
}

.head__title {
  font-family: "Ubuntu-Bold";
  font-weight: 700;
  padding-bottom: 80px;
  color: #fff;
}

.head h2 {
  font-size: 48px;
  line-height: 47px;
}

.nav__mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  font-family: "Ubuntu-Bold";
  z-index: 9;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}

.nav__mobile-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85%;
  list-style: none;
  margin: 30px 0;
}

.nav__mobile-item a {
  color: #3D3D3D;
  text-decoration: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal__dialog {
  max-width: 414px;
  margin: 131px auto;
}

.modal__content {
  position: relative;
  width: 100%;
  padding: 19px 29px 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto;
}

.modal__close {
  position: absolute;
  top: 19px;
  right: 28px;
  font-size: 30px;
  color: #3D3D3D;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal label {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #505050;
}

.modal__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.085em;
  color: #3D3D3D;
  margin-bottom: 18px;
}

.modal__input {
  display: block;
  margin: 16px 0 20px;
  width: 100%;
  height: 50px;
  padding-left: 15px;
  background: #F9F9F9;
  border: 1px solid #C9C9C9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  outline: 0;
}

.about {
  color: #2E2E2E;
  position: relative;
}

.about_pic {
  position: absolute;
  top: -10%;
  right: 0;
  display: none;
  z-index: -1;
}

.about_textField {
  font-family: "Ubuntu-Regular";
}

.about_textField p {
  font-size: 23px;
  line-height: 36px;
  margin: 31px 0px 60px;
}

.about_textField p span {
  font-weight: bold;
}

.about_cardsWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.about_cardsWrap p {
  font-size: 16px;
  line-height: 21px;
  margin-left: 20px;
}

.about_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.about_card.advantage {
  width: 100%;
  margin-top: 35px;
}

.about_card.advantage p {
  margin-left: 20px;
  font-size: 16px;
  line-height: 24px;
}

.advantages {
  position: relative;
}

.advantages_list {
  margin-top: 60px;
  position: relative;
}

.howItWorks {
  display: none;
  margin-bottom: 95px;
}

.howItWorks_block {
  margin: 0 auto;
  text-align: center;
}

.howItWorks_block p {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #2E2E2E;
  margin-top: 62px;
}

.howItWorks .firstSteps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 74px;
}

.howItWorks_secondarySteps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 31px 0 47px;
}

.howItWorks_secondaryStep p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  max-width: 150px;
}

.howItWorks_advancedPic {
  padding: 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.program {
  position: relative;
}

.program_pic {
  position: absolute;
  top: -10%;
  right: 0;
  display: none;
  z-index: 1;
}

.program .text_sectionTitle {
  text-align: left;
}

.program_description li {
  list-style: none;
  padding-left: 39px;
  margin-bottom: 30px;
  position: relative;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #2E2E2E;
}

.program_description li::before {
  content: url(../img/svg/listCheck.svg);
  height: 25px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.program_description ul {
  padding-left: 30px;
}

.program_description h5 {
  font-size: 23px;
  line-height: 36px;
  margin: 51px 0px 44px;
}

.price {
  color: #2E2E2E;
  background: #F9F9F9;
  position: relative;
}

.price_block {
  max-width: 90%;
  margin: 0 auto;
  position: relative;
}

.price .title_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 11px;
}

.price .title_wrap p {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
}

.price .title_wrap p span {
  font-weight: bold;
  margin-left: 5px;
}

.price .price_table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.price .price_table .table {
  max-width: 430px;
  color: #000000;
  font-size: 14px;
  padding-top: 37px;
}

.price .price_table .table .tableTitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #3D3D3D;
  padding: 0px 45px 32px 45px;
}

.price .price_table .table .tableColTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 17px;
  border-bottom: 2px solid black;
  line-height: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.price .price_table .table .tableColTitle span {
  text-transform: none;
}

.price .price_table .table .tableColPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price .price_table .table .tableColPrice_sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 75px 10px 53px;
}

.price .price_table .table .tableColPrice_sum:nth-of-type(2n) {
  background: #FDDFBD;
  border-radius: 5px;
}

.reviews {
  position: relative;
}

.no-webp .reviews_pic {
  background-image: url(../img/like.png); }

.reviews_pic {
  position: absolute;
  background-repeat: no-repeat;
  max-width: 580px;
  max-height: 680px;
  top: 45px;
  left: 0;
  z-index: -1;
}

.reviews_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviews_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.reviews .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 150px;
  margin: 0 auto;
}

.reviews .slick-dots li {
  list-style: none;
}

.reviews .slick-dots button {
  list-style: none;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #E3E3E3;
  cursor: pointer;
  content: " ";
  font-size: 0;
}

.reviews .slick-active button {
  background-color: #D0935A;
}

.reviews .slick-arrow {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.reviews .slick-list {
  outline: none;
}

.reviews .slick-prev {
  bottom: 0px;
  left: 10%;
}

.reviews .slick-next {
  right: 10%;
  bottom: 0px;
}

.reviews .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 38px 0px 33px;
}

.reviews .review.hidden {
  display: none;
}

.reviews .review_user {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviews .review_user h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.reviews .review_user p {
  color: #AB6E36;
  font-size: 14px;
  line-height: 16px;
  margin-top: 5px;
}

.reviews .review_text {
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  position: relative;
  padding: 15px 0px 0px 51px;
}

.reviews .review_text::before {
  content: url(../img/quotes.png);
  position: absolute;
  width: 42px;
  height: 58px;
  top: 0;
  left: 0;
}

.contacts {
  font-size: 20px;
  line-height: 38px;
  letter-spacing: 0.085em;
  color: #3D3D3D;
  padding: 62px 0 67px;
  background: #F9F9F9;
  position: relative;
}

.contacts_block {
  position: relative;
}

.contacts_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
}

.contacts .form_field {
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #C9C9C9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  margin: 15px 0px 22px;
  font-size: 14px;
  line-height: 16px;
  padding-left: 10px;
}

.contacts .form_field:focus {
  border: 1px solid red;
}

.contacts .textarea {
  width: 100%;
  height: 300px;
  background: #FFFFFF;
  border: 1px solid #C9C9C9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  margin-top: 14px;
  font-size: 14px;
  line-height: 16px;
  padding: 10px 0 0 10px;
}

.contacts .textarea:focus {
  border: 1px solid red;
}

.contacts_title {
  width: 225px;
  margin: 0 auto;
}

.contacts_field {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts_field h3 {
  font-weight: bold;
  font-size: 24px;
}

.contacts_field .mails {
  margin-top: 55px;
}

.contacts_field .mails a {
  color: #5fb5bf;
  border-bottom: 2px solid #5fb5bf;
  text-decoration: none;
}

.contacts_field .mails a:hover {
  color: #D0935A;
  border-bottom: 2px dotted #D0935A;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.contacts_field .hot_line {
  margin-top: 35px;
}

.contacts_field .hot_line a {
  color: #3D3D3D;
}

.contacts_field .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 137px;
  margin: 0 auto;
  padding-top: 30px;
  border-bottom: 2px solid transparent;
}

.contacts_field .social a {
  fill: #5fb5bf;
  stroke: #5fb5bf;
}

.contacts_field .social a :hover {
  fill: #333333;
  stroke: #333333;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.contacts_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.contacts_form .formBtn {
  bottom: -55px;
}

.contacts_form label {
  font-size: 11px;
  line-height: 16px;
  color: #505050;
}

.footer {
  background-color: #333333;
  position: relative;
}

.footer_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  padding: 13px 0px 11px;
}

.footer_wrap p {
  font-size: 14px;
  line-height: 16px;
  margin-left: 15px;
}

.no-webp .footer_logo {
  background-image: url(../img/logo.png); }

.footer_logo {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 173px;
  height: 44px;
}

.footer_developerLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 16px;
}

.footer_developerLink span {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.footer_developerLink p {
  padding: 0px 6px 0px 4px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

section {
  padding: 70px 0;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Ubuntu-Regular";
}

.container {
  width: 100%;
  padding: 0 10px;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.text_sectionTitle {
  text-align: center;
  font-family: "Ubuntu-Bold";
  font-weight: 700;
  font-size: 48px;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: fill;
     object-fit: fill;
  height: 100%;
  width: 100%;
  opacity: 30%;
}

.bg.revers {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (min-width: 500px) {
  .header .phone {
    right: calc(40% - 170px/2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .header__inner {
    min-height: 81px;
  }

  .header .phone {
    right: calc(25% - 170px/2);
  }

  .head h2 {
    font-size: 96px;
    line-height: 95px;
    max-width: 672px;
    margin: 0 auto;
  }

  .about_pic {
    width: 45%;
    display: block;
  }

  .about_textField {
    width: 55%;
  }

  .reviews .slick-prev {
    left: 25%;
  }

  .reviews .slick-next {
    right: 25%;
  }

  .contacts_form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .contacts_form__fields {
    width: 48%;
  }

  .contacts_form__textarea {
    margin-left: 34px;
    width: 48%;
  }

  .contacts_form .formBtn {
    left: 52%;
    bottom: -40px;
  }

  .container {
    padding: 0 20px;
  }
}

@media (min-width: 938px) {
  .about_pic {
    top: -15%;
  }

  .about_cardsWrap {
    width: 60%;
  }

  .about_card {
    width: 45%;
  }
}

@media (min-width: 1024px) {
  .reviews .slick-prev {
    left: 30%;
  }

  .reviews .slick-next {
    right: 30%;
  }

  .contacts_wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .contacts_wrap .contacts_formBlock {
    width: 70%;
    margin-left: 25px;
  }

  .container {
    width: 90%;
    padding: 0;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  .btn.header_btn {
    left: calc(72% - 142px/2);
  }

  .header__inner .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__inner .menu__button {
    display: none;
  }

  .header .phone {
    right: calc(10% - 170px/2);
  }

  .about_pic {
    top: -18%;
  }

  .reviews .slick-prev {
    left: 35%;
  }

  .reviews .slick-next {
    right: 35%;
  }
}

@media (min-width: 1420px) {
  .about_pic {
    top: -22%;
  }
}

@media (min-width: 1820px) {
  .program_pic {
    top: -20%;
    right: -7%;
    display: block;
    max-width: 926px;
  }
}

@media (min-width: 1920px) {
  .about_pic {
    top: -28%;
    width: auto;
  }

  .container {
    max-width: 1213px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .btn.header_btn {
    display: none;
  }
}

@media (max-width: 589px) {
  .howItWorks_advancedPic {
    display: none;
  }
}

.webp .head { background-image: url(../img/BANER.webp); }

.webp .reviews_pic { background-image: url(../img/like.webp); }

.webp .footer_logo { background-image: url(../img/logo.webp); }